ul.x-kabu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid black;
}

ul.x-kabu.open {
  display: block;
}

li.x-kabu-menu-item {
  width: 100%;
  margin-right: 4px;
  display: block;
}

li.xkau-menu-item:last-child {
  margin-right: 0;
}
